wheel
gevent
flask
requests
pygments
dateutils
fuzzywuzzy
redis
colored
langdetect
cffi
polyglot
PyICU
pycld2
colorama
pyyaml
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
