wheel
gevent
flask
requests
pygments
dateutils
fuzzywuzzy
redis
colored
langdetect
cffi
polyglot
PyICU
pycld2
colorama
pyyaml
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
